<?xml version="1.0" encoding="utf-8" ?>
<portal>
	<settings>
		<add key="DefaultLanguage" value="en-us" />
		<!-- The Default theme to be used -->
		<add key="DefaultTheme" value="Zigamorph" />
		<!-- The Default style to be used -->
		<add key="DefaultStyle" value="Default" />
		<!-- The default control to use for skin's template -->
		<add key="DefaultSkinControl" value="Template.ascx" />
		<!-- The default page handler -->
		<add key="DefaultPageHandler" value="ManagedFusion.Display.DesktopPage, ManagedFusion" />
		<!-- The type of expiration can be set to
			key=[Sliding|Absolute|Default]
			-->
		<add key="ExpirationType" value="Sliding" />
		<!-- The number of minutes to keep the cache in memory without anything accessing it -->
		<add key="CacheTime" value="30.0" />
		<!-- Database connection string -->
		<add key="DatabaseConnectionString" value="Server=(local);Database=OmniPortal;Trusted_Connection=True;" />
		<!-- This is used to determine how long the database should stay in memory before being forced to refresh. -->
		<add key="DatabaseCacheTime" value="30.0" />
		
		<!-- Community Specific values -->
		<add key="DatabaseAlias" value="OmniPortalSqlServer" />
	</settings>
	
	<providers>
		<add name="Security" type="OmniPortalFormAuthentication" />
	
		<add name="Authentication" type="BasicAuthentication">
			<credentials passwordFormat="sha1">
				<user name="admin" uid="F5DF6549-5EA1-4c19-A2E2-DE110447062C" password="5BAA61E4C9B93F3F0682250B6CF8331B7EE68FD8" />
			</credentials>
		</add>
		
		<add name="Authorization" type="BasicAuthorization">
			<roleAuthorization>
				<users unAuthorizedRole="UnAuthenticated">
					<!-- admin -->
					<user uid="F5DF6549-5EA1-4c19-A2E2-DE110447062C" role="Administrator" />
				</users>
				
				<roles>
					<role name="Administrator" />
					<role name="PowerUser" />
					<role name="Authenticated" />
					<role name="UnAuthenticated" />
				</roles>
			</roleAuthorization>
		</add>
		
		<add name="Profile" type="BasicProfile">
			<profile>
				<profileDef>
					<fname/>
					<lname/>
					<email/>
				</profileDef>
				
				<users>
					<!-- admin -->
					<user uid="F5DF6549-5EA1-4c19-A2E2-DE110447062C">
						<fname>OmniPortal</fname>
						<lname>Administrator</lname>
						<email>admin@localhost</email>
					</user>
				</users>
			</profile>
		</add>
	</providers>
	
	<filters>
		<add name="PNGAlpha" content="text/html" type="OmniPortal.Components.Filters.PngAlphaFilter, OmniPortal.Components" />
	</filters>
</portal>